.specificationName {
    margin-right: 10px;
    display: block;
    margin-bottom: 10px;
}
.specificationValue[data-specification-name="Tipo de caminador"] {
    display: none;
}
.groupName {
    display: none;
}
.specificationValue--last {color: #373636;line-height: 23px;font-size: 13px;}