.searchResultContainer{
    padding: 0;
    margin: 0;
}
.galleryTitle--layout{
    margin: 7px 100px 0 100px;
    color: #333;
    font-size: 36px;
    font-weight: 700;
    line-height: 20px;
    display: block;
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 21px;
    padding-top: 9px;
}
.gallery {
    padding: 0;
    margin-left: 1%;
}
.orderByText {
    border: 0;
    text-transform: uppercase;
    font-weight: 700;
    color: black;
    height: 30px;
    padding: 5px;
    color: #333;
    font-size: 15px;
    margin-right: 10px;
    line-height: 30px;
}
.showingProducts {
    border: 0;
    text-transform: uppercase;
    font-weight: 700;
    color: black;
    height: 30px;
    padding: 5px;
    color: #333;
    font-size: 13px;
    line-height: 30px;
}
.filterMessage {
    font-size: 14px;
    font-weight: 700;
}
.filterAvailable{
    padding: 14px 0;
}
.filterTitle{
    color: rgba(58, 58, 58, 0.867);
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
}
.filter__container{
    border-bottom: 1px solid rgba(58, 58, 58, 0.867);
}
.categoryItemName{
    font-size: 14px;
    font-weight: 700;
    padding: 0 3px;
    color: black;
}

.categoryItemChildren {
    font-size: 14px;
    color: black;
}
.filter__container--selectedFilters .filterItem :global(.vtex-checkbox__label) {
    font-size: 13px;
    color: rgba(58,58,58,0.867);
    font-weight: 500;
    border: 1px solid rgba(58,58,58,0.867);
    padding: 3px;
    text-transform: uppercase;
}
:focus {
    outline: -webkit-focus-ring-color auto 0px !important;
}

.categoryItemChildrenContainer :global(.vtex__icon-close) {
    padding: 0 28px 0 0;
    color: black;
}
.filterItem :global(.vtex-checkbox__inner-container){
    border: 1px solid rgba(58,58,58,0.867);
}
.selectedCategoryName {
    padding: 0 10px;
    font-size: 12px;
    font-weight: 500;
}

.filterItem :global(.vtex__icon-check) {
    color: black;
    width: 10px;
    height: 10px;
}

.filterItem :global(.vtex-checkbox__box-wrapper) {
    width: 10px;
    height: 10px;
}
.filterItem :global(.vtex-checkbox__container) {
    width: 10px;
    margin: 4px 6px 0 0;
    height: 10px;
}
.filterItem :global(.vtex-checkbox__inner-container) {
    width: 10px;
    height: 10px;
}
.filterItem :global(.vtex-checkbox__line-container) {
    padding: 0 5px;
}
.filter__container .caretIcon{
    position: absolute;
}
.caretIcon{
    color: rgba(58,58,58,0.867);
    width: 15px;
    height: 15px;
    padding: 0 0px 0 0;
}
.filter__container{
    padding: 0 10px;
    margin: 0 0 0px 0;
    border-top: 1px solid;
    border-bottom: 0;
}
.filter__container--title{
    border: none;
}
.showingProducts {
    text-align: end;
}
.buttonShowMore :global(.vtex-button__label){
    background: #ffc100;
    color: black;
    padding: 10px 15px;
    font-weight: 700;
    border-radius: 5px;
    margin: 0 0 0 0;
    text-transform: uppercase;
}
.buttonShowMore--layout{
    margin: 40px 0 50px 0;
}
.searchResultContainer {
    max-width: 100%;
}
.galleryItem--normal{
    height: 410px;
    padding: 0;
}
.filter__container--title{
    display: none;
}
.orderByOptionItem {
    min-width: 242px;
}
.orderByOptionsContainer {
    margin-top: 31px;
}
.filterSelected .filterTitle {
    font-size: 0;
    color: #23169d;
}
.filterSelected .filterTitle::before{
    content: "FILTROS SELECCIONADOS: ";
    font-size: 14px;
    letter-spacing: -0.5px;
}
.filter__container--selectedFilters{
    background-color: white;
    border: 0;
    margin-bottom: 20px;
    margin-top: -5px;
}
.filter__container--selectedFilters  :global(.vtex-checkbox__line-container){
    padding: 0 34px 0 2px;
}
.filter__container--selectedFilters  :global(.vtex-checkbox__line-container)::before{
    content: "X";
    position: absolute;
    right: 0px;
    font-weight: bold;
    color:#23169d;
    font-size: 13px;
    border: 1px solid rgba(58,58,58,0.867);
    padding: 3px 10px;
    z-index: 9;
}
.filterItem--selected{
    margin-bottom: 5px;
}
.filterItem--selected :global(.vtex-checkbox__container) {
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 9999;
    opacity: 0;
}
.filterItem :global(.vtex-checkbox__label){
    font-size: 12px;
}
.filterContent :global(.vtex-checkbox__container){
    content: "";
    background: white;
    background-size: 100%;
    font-size: 10px;
    display: block;
    width: 12px;
    height: 12px;
    margin-top: 0px;
    top: 3px;
    left: 0px;
    border: 1px solid #ddd;
    border-radius: 50%;
    transition: all 40ms;
    margin-right: 5px;
}
.filterContent :global(.vtex-checkbox__inner-container){
    display: none;
}
.filter__container--priceRange .filterTitle{
    font-size: 0;
}
.filter__container--priceRange .filterTitle::before{
    content: "FILTRO POR PRECIO";
    font-size: 15px;
    color: #0e0291;
}
.filter__container--priceRange :global(.vtex-slider__base){
    background-color: #191531 !important;
}
.filter__container--priceRange :global(.vtex-slider__selector-container){
    background-color: #0e0291 !important;
    border-radius: 50%;
}
.filter__container--priceRange :global(.vtex-slider__values-container){
    justify-content: center;
}
@media (max-width: 600px) {
    .accordionFilterOpen :global(.vtex-checkbox__container){
        content: "";
        background: white;
        background-size: 100%;
        font-size: 10px;
        display: block;
        width: 12px;
        height: 12px;
        margin-top: 0px;
        top: 3px;
        left: 0px;
        border: 1px solid #ddd;
        border-radius: 50%;
        transition: all 40ms;
        margin-right: 5px;
    }
    .galleryItem--normal {
        height: auto !important;
        max-width: 50% !important;
    }
    .showingProducts{
        display: none;
    }
    .filtersWrapperMobile{
        justify-content: flex-start;
    }
    .galleryTitle--layout {
        margin: 7px 0 0 18px;
    }
    .filterPopupArrowIcon{
        position: absolute;
        right: 0;
    }
    .orderByDropdown {
        border-bottom: 1px solid;
        padding: 15px 0;
    }
    .filterPopupTitle {
        font-size: 0;
    }
    .orderByButton .filterPopupTitle::before {
        font-size: 20px;
        content: "ORDENAR POR: ";
        color: #0e0291;
        font-weight: 700;
    }
    .filtersWrapperMobile .filterPopupTitle::before{
        font-size: 20px;
        content: "FILTRAR POR: ";
        color: #0e0291;
        font-weight: 700;
    }
    .filtersWrapperMobile{
        border-bottom: 1px solid;
        padding: 15px 0;
    }
    .filterIcon{
        display: none;
    }
    .caretIcon{
        display: none;
    }
    .filterPopupArrowIcon::before{
        content: "";
        background: url(https://impormedical.vtexassets.com/arquivos/IconoFlechaAbajo.png)no-repeat;
        background-size: 100%;
        font-size: 10px;
        display: block;
        width: 23px;
        height: 23px;
        margin-top: 0px;
        top: -9px;
        right: 0;
        transition: all 40ms;
        position: absolute;
        margin-right: 5px;
    }
    .accordionFilterItemIcon::before{
        content: "";
        background: url(https://impormedical.vtexassets.com/arquivos/IconoFlechaAbajo.png)no-repeat;
        background-size: 100%;
        font-size: 10px;
        display: block;
        width: 15px;
        height: 15px;
        margin-top: 0px;
        top: 0px;
        right: 0;
        transition: all 40ms;
        margin-right: 5px;
    }
    .accordionFilterItemTitle{
        font-size: 14px;
        text-transform: uppercase;
    }
    .filterBreadcrumbsItemName {
        font-size: 15px;
    }
    .sidebar {
        width: 85%;
        background-color: #f6f6f6;
    }
    .filterClearButtonWrapper :global(.vtex-button__label){
        color: #191531;
    }
    .filterApplyButtonWrapper :global(.vtex-button__label){
        color: #191531;
    }
    .orderByOptionItem {
        margin-left: 10px;
    }
    .orderByOptionsContainer {
        padding: 10px;
        position: relative;
        margin-top: 0px;
        box-shadow: 0 0 0 0;
        background: transparent;
    }
    .accordionFilterContent {
        padding: 0;
    }
    .filterAccordionItemBox{
        min-height: 47px;
        border-top: 1px solid rgba(58,58,58,0.867);
        padding: 10px 10px;
        margin-right: 10px;
    }
    .accordionFilterContainer{
        padding-left: 15px;
    }
}